p {
    color: red;
}

.formulaTop {
    color: green;
}

.container {
	background-color: rgba(0,0,255,0.1);
    display: flex;
}

.left {
	text-align: center;
	margin-right: 4px;
    display: inline-block;
}

.right {
	text-align: center;
	margin-left: 4px;
    display: inline-block;
}

.root {
	text-align: center;
    background-color: rgba(0,0,255,0.1);
    overflow:auto;
    float: left;
}


#fib {
	/*display: inline-block;
	width: 20000px;*/
}


